In [5]:
print("Hello, World!")

Hello, World!

In [9]:
if 5>2:
    print("Five is greater than two!")

Five is greater than two!

In [10]:
x=5
y="Hello, World!"

In [15]:
#This is a comment.
print("Hello, World!")#this is a comment

Hello, World!

In [25]:
x=str('3')
y=int(3)
z=float(3)
print(x+x) #can't use different types of variable in just one print?

33

In [30]:
x=5
y="John"
#is the same as
y='Rita'
#Y will not same as y
#python is case sensetive
Y="Sina"
print(type(x))
print(type(y))
print(Y)

<class 'int'>
<class 'str'>
Sina

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"
#variable A-z, 0-9, and _

In [32]:
x,y,z="Mahin ","Mouri ","Fiaz "
print(x+y+z)

Mahin Mouri Fiaz

In [34]:
x=y=z="HaHa "
print(x+y+z)

HaHa HaHa HaHa

In [36]:
fruits=["Apple ","Banana ","Cherry"]
print(fruits)
x,y,z=fruits
print(x+y+z)

['Apple ', 'Banana ', 'Cherry']
Apple Banana Cherry

In [38]:
x="Python"
y="is"
z="awesome"
print(x,y,z)
#if we use , insted of + we don't need to use " " anymore

Python is awesome

In [40]:
x=5
y=10
print(x+y)

15

In [41]:
x=5
y="John"
print(x, y)
#here we cant use + for different types but we can use ,

5 John

In [43]:
x="awesome"#gloabal variable
def myfunc():
    print("Python is",x)
myfunc()

Python is awesome

In [44]:
def myfunc():
    global x #golobal keyward
    x="fantastic"
myfunc()
print("Pysthon is",x)

Pysthon is fantastic

In [2]:
x=("syed","abrar","fiaz")
y=b"Hello"

print(x,y)

('syed', 'abrar', 'fiaz') b'Hello'

In [5]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [18]:
import random

print(random.randrange(1, 100))

2

In [19]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [21]:
a = "Hello, World!"
print(a[1])

e

In [22]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [24]:
a = "Hello, World!"
print(len(a))

13

In [26]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [28]:
txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [29]:
txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [33]:
b="Hello, world!"
print(b[-5:-2])

orl

In [44]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [46]:
a = "     Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [48]:
a = "Hello, World!"
print(a.replace("Hello", "Hola"))

Hola, World!

In [53]:
a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']
#here comma is the sepearator

['Hello', ' World!']

In [57]:
a = "Hello"
b = "World"
c = a +" "+ b
print(c)

Hello World

In [72]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [74]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [1]:
# Process to change "5th" to "7th" in a given string
given_string = "You are currently studying 5th semester."

# Replace "5th" with "7th"
modified_string = given_string.replace("5th", "7th")

print("Modified String:", modified_string)

Modified String: You are currently studying 7th semester.

In [4]:
name=" Syed Abarar Fiaz"
name.replace("Fiaz","Erteza")
lenth=len(name)
print (lenth)
v=0
vo="aeiouAEIOU"
for char in name:
    if char in vo:
        v+=1
print(v)

17
6

In [6]:
this_dict={'name':'syed','age':24,'sex':'male'}
x=input(str())
if x in this_dict:
    print(this_dict[x])

syed

In [8]:
print('hello')

hello

In [16]:
a,b,c=input().split()
print(a,b,c)
print(type(a))

2 3 4
<class 'str'>

In [17]:
if True:
    print( "hi ")

hi

In [18]:
x=24
y="Syed"
print(f'My name is {y}.and my age is {x}')

My name is Syed.and my age is 24

In [20]:
stack=[]
stack.append(5)
stack.append(6)
x=stack.pop()
print(x)

6

In [2]:


user_input_list = []


while True:
    user_input = input("Enter a number (-1 to stop): ")
    a=int(user_input)
    if a == -1:
        break  
    else:
        user_input_list.append(user_input)  

print("User input list:", user_input_list)

ValueError: invalid literal for int() with base 10: 'syed'

In [26]:
lst=[i for i in range(0,10)]
lst
name='Syed Abrar Fiaz'
name2=name[4::-1]+' '+name[5:]
print(name2)

 deyS Abrar Fiaz

In [18]:
name="sayed"
a=list(name)
print(a.everse())

AttributeError: 'list' object has no attribute 'everse'